:root {
    color-scheme: dark;
    --qwik-dark-blue: #006ce9;
    --qwik-light-blue: #18b6f6;
    --qwik-dirty-black: #1d2033;
    --qwik-slate-gray: #374151;

    --text-color: #ffffff;
    --main-background: #1c224a;
    --header-background: var(--main-background);
    --footer-background: var(--main-background);
}

/* SHELL ---------------------------------------- */
html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: var(--footer-background);
    tab-size: 4;
}

body {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    line-height: inherit;
}

main {
    background: var(--main-background);
    height: calc(100vh - 114px);
    padding: 0 2em;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
    color: white;
    margin: 0;
}

h1 {
    font-size: 3.2rem;
    text-align: center;
}

h1 .highlight,
h3 .highlight {
    color: var(--qwik-light-blue);
}

h2 {
    font-weight: 400;
    font-size: 2.4rem;
}

h2 .highlight {
    font-weight: 700;
}

h3 {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.4rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* TAGS ----------------------------------------- */
a {
    text-decoration: none;
    color: var(--qwik-light-blue);
}

a:hover {
    text-decoration: underline;
    color: var(--qwik-light-blue);
}

code {
    background: rgba(230, 230, 230, 0.3);
    border-radius: 4px;
    padding: 2px 6px;
}

ul {
    margin: 0;
    padding-left: 20px;
}

.btn {
    border-radius: 8px;
    text-decoration-line: none;
    color: white;
    font-weight: bold;
    padding: 0.75rem 1.5rem;

    &:hover {
        text-decoration-line: none;
        color: white;
    }

    &.gray {
        background-color: var(--qwik-slate-gray);

        &:hover {
            filter: brightness(1.1);
        }
    }

    .btn-grp & {
        border-radius: 0;

        &:first-of-type {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        &:last-of-type {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }
}
